<% include partials/header %>

<div class="container">
<h1><%= event.name %></h1>
<h3><%= event.location %></h3>

<img src="<%=event.image%>" widht="80%" height="500px">

<p><%= event.date %></p>
<p><%= event.info %></p>
  
</div>

<% include partials/footer %>